<%- include('../partials/head') %>
    <%- include('../partials/nav') %>
    <% if(admin){%>
        <% if(audioLibro.length> 0){ %>

            <a href="/add_audio_libro" class="btn-plus"><i class="fa-solid fa-circle-plus"></i></a>

            <div class="container table-responsive tbm animate__animated animate__bounce">
                <table class="table table-light table-bordered table-hover">
                    <thead>
                        <tr class="table-dark">
                            <th>N#</th>
                            <th>Titulo</th>
                            <th>Tipo</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                            <th>Recurso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < audioLibro.length; i++){ %>
                            <tr>
                                <td>
                                    <%= i+1 %>
                                </td>
                                <td>
                                    <%= audioLibro[i].titulo %>
                                </td>
                                <td>
                                    <%= audioLibro[i].tipo %>
                                </td>
                                <td>
                                    <%= audioLibro[i].autor %>
                                </td>
                                <td>
                                    <%= audioLibro[i].editorial %>
                                </td>
                                <td>
                                    <img src="<%= audioLibro[i].img %>" class="img-tabla">
                                </td>
                                <td>
                                    <a href="/delete_audio_libro/<%=audioLibro[i].idAudioLibro%>" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                    <a href="/edit_audio_libro/<%=audioLibro[i].idAudioLibro%>" class="btn btn-info"><i class="fa-solid fa-pencil"></i></a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
            <% } else{ %>
                <div class="container cont animate__animated animate__flipInY">
                    <div class="card">
                        <div class="card-body">
                            <h1>No hay audioLibro</h1>
                        </div>
                    </div>
                </div>
                <% } %>
    <%}else{%>
        <div class="container">
            <div class="row">
                <% for(var i=0; i < audioLibro.length; i++){ %>
                    <div class="card col-12 col-md-3 col-sm-12 tarj animate__animated animate__backInDown">
                        <div class="card-header title-Tarj">
                            <h4><%= audioLibro[i].titulo%></h4>
                        </div>
                      <div class="card-body">
                        <center>
                            <img src="<%= audioLibro[i].img%>" class="img-tarj">
                          </center>
                      <hr>
                      <p>
                        <b>Categoria:</b> <%= audioLibro[i].tipo%><br/>
                        <b>Autor:</b> <%= audioLibro[i].autor%><br/>
                        <b>Editorial:</b> <%= audioLibro[i].editorial%>
                        <a href="<%= audioLibro[i].img%>" target="_blank" class="btn btn-info">
                            <i class="fa-sharp fa-solid fa-eye"></i>
                        </a>
                        </p>
                      </div>
                    </div>
                <%}%>
            </div>
        </div>
    <%}%>
<%- include('../partials/footer') %>